body {
    margin: 0;
    font-family: sans-serif;
    text-align: center
}
table {
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
h1 {
    text-align: center;
}
h4 {
    text-align: center;
}
.content{
    margin: auto;
    width: 60%;
}
.block{
    background-color: #211F1F;
    padding: 25px
}
th, tr{
    color: #ffffff;
}
th{
    border: 1px solid black;
}

img.visible {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
img.transparent {
    display: none;
}
img.active {
    display: inline;
}
img.hidden {
    display: none;
}
img.button {
    width: 20%;
    cursor: pointer;
}