{% extends "base.html" %}

{%block head%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{%endblock%}

{%block body%}
<div class="content">
    <canvas id="myChart" style="width:100%; max-width:700px"></canvas>
</div>

<script>
    const humidities = [{%for d in data%}{{d.humidity}},{%endfor%}];
    const temperatures = [{%for d in data%}{{d.temperature}},{%endfor%}];
    const times = [{%for d in data%}"{{d.time}}",{%endfor%}];

    new Chart("myChart", {
        type: "line",
        data: {
            labels: times,
            datasets: [
                {
                    label: "Humidity",
                    data: humidities,
                    backgroundColor: "rgb(0,0,0,0)",
                    borderColor: "rgb(0,0,255)"
                }, {
                    label: "Temperature",
                    data: temperatures,
                    backgroundColor: "rgb(0,0,0,0)",
                    borderColor: "rgb(255,0,0)",
                }
            ]
        },
        options: {
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: "Time"
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: "Temperature / Humidity"
                    }
                }]
            }
        }
    })
</script>

{%endblock%}